.task-card {
	background-color: #ffffff;
	border: 1px solid #cccccc;
	padding: 10px;
	margin-bottom: 10px;
	cursor: move;
}

.task-card h3 {
	margin-top: 0;
	font-size: 16px;
}

.task-card p {
	margin-bottom: 0;
	font-size: 14px;
	color: #666666;
}
