.App {
	text-align: center;
}

.calendar-section,
.task-board-section,
.task-list-section {
	margin: 20px;
}

.task-board {
	display: flex;
	justify-content: space-around;
}

.task {
	background: #eee;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}

.task-list {
	list-style-type: none;
	padding: 0;
}

.task-list li {
	background: #eee;
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
}
